/*
Author: @gijsroge
Description: Pure CSS styled select elements that use pseudo elements to make it visually consistent in all modern browsers. Looks good in: Firefox, Chrome, Safari, IE10+. Other browsers will have multiple down arrows for example. But this is only visual stuff, everything still works as expected of course.
*/


/******************************* 
         demo styles 
*******************************/
*,*:after,*:before{
  box-sizing: border-box;
}

.position-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  
  .select-wrapper{
    margin: 0 20px;
  }
}



/******************************* 
        Styles to copy
*******************************/

/*
* Basic resets for select element
*/
.select-wrapper{
  select{
    width: auto;
    -webkit-appearance: none; 
    -moz-appearance: none; 
    -ms-appearance: none; 
    appearance: none;
    
    &::-ms-expand {
      display: none; /*IE10*/
    }
    
    border: none;
    outline: none;
    border-radius: 0; /*IOS*/
  }
}


/*
* Global styles
*/
.select-wrapper{
  display: inline-block;
  position: relative;
  
  &:after{
    content:'';
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
    pointer-events: none;
    background-position: left center;
  }
  
  &:before{
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    pointer-events: none;
    text-align: center;
    z-index: 2;
  }
}


/******************************* 
          Dark theme
*******************************/
.select--dark{
  /*
   * Customize options
   */
  $radius: 0px;
  $basecolor: #302432;
  $border: #302432;
  $color: white;
  $padding: 20px;
  $arrowWidth: 35px;
  $transition: 100ms all cubic-bezier(0.250, 0.460, 0.450, 0.940);
  
  &:after,select{
    color: $color;
    background-color: $basecolor;
    transition: $transition;
  }
  
  &:after{
    width: $arrowWidth;
    border: 1px solid $border;
    border-radius: 0 $radius $radius 0;
    border-left: 0; 
  }
  
  // before psuedo child is used to display the down arrow
  &:before{
    color: $color;
    right: $padding;
    content:'▾';
  }
  
 /*
  * Hover styles
  */
  &:hover{
    &:after,select{
      background-color: darken($basecolor, 10%);
    }
  }
  
 /*
  * Select element
  */
  select{
    padding: ($padding/2) $padding;
    padding-right: $arrowWidth;
    border: 1px solid $border;
    border-radius: $radius;
    color: $color;
  }
}


/******************************* 
          White theme
*******************************/
.select--white{
  /*
   * Customize options
   */
  $radius: 20px;
  $basecolor: #fff;
  $border: #000;
  $color: black;
  $padding: 20px;
  $arrowWidth: 35px;
  $transition: 100ms all cubic-bezier(0.250, 0.460, 0.450, 0.940);
  
  &:after,select{
    color: $color;
    background-color: $basecolor;
    transition: $transition;
  }
  
  &:after{
    width: $arrowWidth;
    border: 1px solid $border;
    border-radius: 0 $radius $radius 0;
    border-left: 0; 
  }
  
  // before psuedo child is used to display the down arrow
  &:before{
    color: $color;
    right: $padding;
    content:'▾';
  }
  
 /*
  * Hover styles
  */
  &:hover{
    &:after,select{
      background-color: darken($basecolor, 10%);
    }
  }
  
 /*
  * Select element
  */
  select{
    padding: ($padding/2) $padding;
    padding-right: $arrowWidth;
    border: 1px solid $border;
    border-radius: $radius;
    color: $color;
  }
}