.container--admin{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.site-name{
	font-size: 2.4rem !important;
	
}

.new-object-button{
	-webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
}

.new-object-button:hover{
	opacity: 0.2;
}