.container--admin{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.site-name{
	font-size: 2.4rem !important;
	font-weight: 700 !important;
}

.new-object-button{
	-webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    font-weight: 700;
    padding: 6px 16px;
    border-radius: 6px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    color: rgb(255, 255, 255);
    background-color: rgb(32, 101, 209);
    box-shadow: rgb(32 101 209 / 24%) 0px 8px 16px 0px;
    min-width: 64px;
    text-decoration: none;
}

.new-object-button:hover{
	text-decoration: none;
	background-color: rgb(16, 57, 150);
	color: #fff;
}

.main-name-object{
	font-size: 1.2rem;
	font-weight: 500;
}

.row tbody tr td{
    vertical-align: middle;
}