.input-find {
	border: 1.5px solid rgb(0, 0, 0);
	border-radius: 12px;
	height: 40px;
	font-size: 14px;
	width: 100%;
	padding: 0 12px;
}

.btn-find {
	border-radius: 4px;
	color: #fff;
	font-weight: 500;
	background: #37cfa2;
}

.btn-find:hover {
	background: #343a40;
}

.star {
	color: #000;
}

.site-section-phong {
	padding-top: 86px !important;
	padding-bottom: 40px !important;
	position: relative;
}

.site-section-phong:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #000;
	height: 86px;
}

.day-travel {
	justify-content: space-between;
	align-items: space-around;
	align-items: center;
}

#profile {
	background: url(/timphong/templates/images/profile.jpg) no-repeat fixed
		center;
	background-size: cover;
	position: relative;
}

#profile:before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	z-index: 1;
}

#profile:after {
	content: "";
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0.2;
	z-index: -1;
	background: url(/timphong/templates/images/profile.jpg) no-repeat fixed
		center;
	background-size: cover;
}

#profile .container {
	z-index: 2;
	position: relative;
}

.profile-row {
	border-radius: 48px;
	background: #fff;
}

.profile-img {
	padding: 0.5rem !important;
	width: 80px;
	height: 80px;
	border-radius: 50% !important;
	box-shadow: rgb(0 0 0/ 12%) 0rem 0.3125rem 0.625rem 0rem;
}

.profile-content {
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.profile-content-change {
	border-radius: 16px;
}

.profile-content-change:focus-within {
	outline: -webkit-focus-ring-color auto 1px;
}

.profile-content-input {
	font-size: 20px;
	width: 100%;
}

.profile-content-input:focus-visible {
	outline: none;
}

.profile-content div p {
	font-size: 20px;
}

.profile-ques {
	border-radius: 40px;
	font-size: 12px;
}

.profile-block-item {
	aspect-ratio: 1/1;
	color: #fff;
	border-radius: 16px;
	padding: 12px;
	margin-right: 3%;
}